/* ==========================================================================
   Container do usuário
   ========================================================================== */
.usuario-container {
  margin-top: 5px;
  padding: 10px;
}

/* ==========================================================================
   Container das informações
   ========================================================================== */
.informacoes-container {
  margin-top: 5px;
  padding: 10px;
}

/* ==========================================================================
   Fieldset do usuário
   ========================================================================== */
.fieldset-usuario-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: start;
  margin-top: 20px;
  gap: 5px;
}

/* ==========================================================================
   Inputs do usuário
   ========================================================================== */
.inpt-usuario-nome {
  width: 30%;
}

.inpt-cargo-descricao {
  width: 30%;
}

.inpt-departamento-descricao {
  width: 40%;
}

/* ==========================================================================
   Fieldset da salario
   ========================================================================== */
.fieldset-salario-content {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

/* ==========================================================================
   Inputs da salario
   ========================================================================== */
.inpt-salario-valor {
  margin-top: 1%;
}

.inpt-ano {
  margin-top: 0%;
}

.inpt-mes {
  margin-top: 0%;
}
