<div [formGroup]="cargoForm" class="container centered-container">
  <h2>Cadastro de cargos</h2>
  <mat-form-field>
    <mat-label>Código</mat-label>
    <input matInput formControlName="codigo" />
    <c-control-error [control]="cargoForm.get('codigo')"></c-control-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descrição</mat-label>
    <input matInput formControlName="descricao" />
    <c-control-error [control]="cargoForm.get('descricao')"></c-control-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Departamento</mat-label>
    <input type="text" matInput [formControl]="cargoForm.get('departamento')" [matAutocomplete]="auto"
      [value]="cargoForm.get('departamento')?.value" [displayWith]="exibirDescricao" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let dpt of departamentosFiltrados | async" [value]="dpt">
        {{ dpt.descricao }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


</div>